@import 'reset-css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
     font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


//HOME
.home {
    min-height: 100vh;
    //height: 100%;
    background-color: #fb8c00 ;
}

//Header 
.header {
    height: 80px;
    background-color: #000;
    color: #fff;
    box-shadow: 0 5px 5px rgba(0,0,0,.5);
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }
    &__logo {
        font-size: 1.2rem;
        color: #fff;
        text-decoration: none;
        &:hover {
            color:rgb(255, 119, 0)
        } 
    }
    &__title {
        font-size: 1.6rem;
    }
    &__right {
        display: flex;
        align-items: center;
    }
    &__right-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 30px;
        i {
            font-size: 2rem;
            padding-bottom: 5px;
        }
    }
    &__right-logout {
        cursor: pointer;
        i {
            margin-left: 5px;
        }
        &:hover {
            color:rgb(255, 119, 0)
        } 
    }
}

//MAIN
.main {
    
    &__form {
        background-color: #546e7a;
        padding: 20px;
        margin-bottom: 20px;
    }
    &__content {
        display: flex;
        gap: 30px;
        padding-top: 30px;
        @media (max-width: 720px) {
           flex-direction: column;
           height: calc(100vh - 90px);
           gap: 10px;
        }
    }
    &__left {
        flex: .5;
        @media (max-width: 720px) {
           flex: .3;
        }

    }
    &__right {
        flex: .5;
        height: calc(100vh - 110px);
        overflow-y: scroll;
        &::-webkit-scrollbar {
            height: 12px;
            width: 12px;
        }
        &::-webkit-scrollbar-track {
            background: orange;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgb(15, 120, 146);
            border-radius: 5px;
            border: 3px solid orange;
        }
        @media (max-width: 720px) {
           //height: calc(100vh - 320px);
           flex: .7;
        }
    }
    &__form-label {
        color: #fff;
        color: #2ecebe;
        font-weight: 500;
    }
    &__form-input {
        display: block;
        width: 100%;
        border: none;
        margin-top: 2px;
        margin-bottom: 17px;
        padding: 5px 0;
        background-color: #546e7a;
        border-bottom: 2px solid #00897b ;
        font-size: 1.1rem;
        outline: none;
        color: #fff;
        &::-webkit-input-placeholder {
            color: #fff;
        }
    }
    &__form-divider {
        height: 1px;
        background-color: #26a69a;
        margin: 8px 0;
    }
    &__task-name {
        color: #fff;
        font-size: 1.3rem;
        margin-top: 10px;
        margin-bottom: 15px;
        color: #2ecebe;
        span {
            margin-left: 8px;
            font-size: 1.1rem;
            color: #ffffff;
        }
    }
    &__task-description {
        color: #fff;
        color: #2ecebe;
        font-size: 1.2rem;
        line-height: 1.2;
        // display: -webkit-inline-box;
        // -webkit-box-orient: vertical;
        // -webkit-line-clamp: 4;
        overflow: hidden;
        // border: 1px solid red;
        // width: 100%;
        span {
            margin-left: 8px;
            font-size: 1rem;
            color: #ffffff;
        }
    }
    &__btn-group {
        display: flex;
        gap: 10px;
    }
    &__form-btn {  
        height: 2.5rem;
        line-height: 2.5rem; 
        padding-left: 15px;
        padding-right: 15px;
        color: #fff;
        background-color: #26a69a;
        text-align: center;
        letter-spacing: .5px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0,.14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
        border: none;
        cursor: pointer;
        &:hover {
            background-color: #2bbbad;
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .14), 0 1px 7px 0 rgba(0, 0, 0, .12), 0 3px 1px -1px rgba(0, 0, 0, .2);
        }
        &.disable {
            background-color: #DFDFDF ;
            -webkit-box-shadow: none;
            box-shadow: none;
            color: #9F9F9F ;
            cursor:not-allowed;
            &:hover {
                background-color: #DFDFDF ;
                -webkit-box-shadow: none;
                box-shadow: none;
                color: #9F9F9F ;
                cursor:not-allowed;
            }
        }
        &--edit {
            background-color: #800080;
            &:hover {
                background-color: #9c27b0 ;
            }
            
        }
        &--delete {
            background-color: #e65100;
            &:hover {
                background-color: #ef6c00 ;
            }
        }
        &--green {
            background-color: #008000;
            &:hover {
                background-color: #4caf50;
            }
        }

    }
}

.form {
    flex: 1;
    padding: 70px 50px 30px;
    position: relative;
    @media (max-width: 769px) {
        padding: 70px 20px 30px;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    &__content {
        width: 60%;
        min-height: 380px;
        border-radius: 8px;
        box-shadow: 0 0 3px rgba(0,0,0,.5);
        display: flex;
        overflow: hidden;
        height: 420px;
        @media (max-width: 1025px) {
            width: 90%;
        }
        @media (max-width: 426px) {
            flex-direction: column;
            height: 518px;
        }
    }
    &__banner {
        position: relative;
        flex: 0 0 320px;
        background: url('../public/images/snow4.jpg') no-repeat center/cover;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media (max-width: 765px) {
            flex: 0 0 100px;
        }
        @media (max-width: 426px) {
            justify-content: center;
        }
        
    }
    &__banner-inner {
        display: flex;
        flex-direction: column;
        @media (max-width: 426px) {
            flex-direction: row;
            margin-top: 20px;
        }

    }
    &__banner-logo {
        position: absolute;
        color: #fff;
        font-size: 1.2rem;
        top: 10px;
        left: 10px;
        text-decoration: none;
        font-weight: 500;
    }
    &__banner-link {
        background-color: #fff;
        color: #000;
        width: 90px;
        height: 35px;
        line-height: 35px;
        font-size: .9rem;
        text-align: center;
        margin: 7px 0;
        text-decoration: none;
        text-transform: uppercase;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border: none;
        @media (max-width: 426px) {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            margin: 0 10px;
        }
        &.activ {
            background-color: rgb(233, 16, 16);
            color: #fff;
        }
    }
    &__info {
        position: absolute;
        top: 10px;
        right: 50px;
        left: 50px;
        @media (max-width: 769px) {
            right: 20px;
            left: 20px;
        }
        &--main {
            position: initial;
            //margin-top: -20px;
            margin-bottom: 5px;
        }
    }
    &__info-msg {
        position: relative;
        background-color: rgb(255, 119, 0);
        color: #ffffff; 
    }
    &__info-close {
        position: absolute;
        right: 8px;
        top: 6px;
        cursor: pointer;
    }
    &__title {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 20px;
        
    }
    &__group-item {
        box-shadow: 0 0 3px rgba(0,0,0,.5);
        border-radius: 50px;
        margin-bottom: 15px;
        padding: 12px 15px;
        position: relative;
    }
    &__group-input {
        display: block;
        width: 100%;
        padding-right: 80px;
        border: none;
        background-color: transparent;
        font-size: 1rem;
        &:focus {
            border: none;
            outline: none;
            //background-color: transparent;
        }
        &--btn {
            text-align: center;
            display: block;
            width: 100%;
            background-color: rgb(233, 16, 16);
            padding: 15px 0;
            border-radius: 50px;
            border: none;
            color: antiquewhite;
            cursor: pointer;
            &:hover {
                background-color: rgb(145, 15, 26);
            }
        }
    }
    &__group-icon {
        position: absolute; 
        right: 12px;
        top: 13px;
        cursor: pointer;

    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    img {
        width: 160px;

    }
}

input:-internal-autofill-selected {
    background-color: transparent!important;
}
